.inbox-page{

max-width:900px;

margin:auto;

padding:30px;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.header input{

width:320px;

padding:12px;

border-radius:25px;

border:1px solid #ddd;

font-size:15px;

}