.notifications-page{

display:flex;

flex-direction:column;

gap:25px;

}

.header{

background:linear-gradient(135deg,#0057D9,#00C896);

padding:35px;

color:white;

border-radius:20px;

}

.toolbar{

display:flex;

justify-content:flex-end;

}

.toolbar button{

background:#0057D9;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}

.notification-list{

display:flex;

flex-direction:column;

gap:20px;

}

.notification-card{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:white;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.notification-card:hover{

transform:translateY(-4px);

}

.notification-card.unread{

border-left:6px solid #00C896;

background:#F5FFFC;

}

.left h3{

margin-bottom:8px;

}

.left span{

font-size:13px;

color:gray;

}

.right{

display:flex;

gap:10px;

}

.right button{

border:none;

background:#EEF4FA;

padding:10px;

border-radius:8px;

cursor:pointer;

}

.right button:hover{

background:#0057D9;

color:white;

}