*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.dashboard-container{

    display:flex;
    flex-direction:column;

    min-height:100vh;

    background:lab(4.24% -0.56 -11.55);

}

.dashboard-body{

    display:flex;

    flex:1;

    overflow:hidden;

}

.main-content{

    flex:1;

    padding:30px;

    transition:.3s ease;

    overflow-y:auto;

    background:#F4F8FC;

}

.main-content.expanded{

    margin-left:80px;

}

@media(max-width:992px){

.dashboard-body{

    flex-direction:column;

}

.main-content{

    padding:20px;

}

}