.dashboard-home{

display:flex;

align-items:center;

justify-content:space-between;

padding:50px;

height:calc(100vh - 70px);

background:#f6f8fc;

}

.left-side{

width:45%;

}

.left-side h3{

color:#555;

font-size:22px;

margin-bottom:20px;

}

.left-side span{

color:#00C896;

}

.left-side h1{

font-size:64px;

font-weight:bold;

line-height:1.1;

margin-bottom:25px;

color:#0B132B;

}

.left-side h1 span{

display:block;

color:#00C896;

}

.left-side p{

font-size:20px;

line-height:1.8;

color:#666;

margin-bottom:40px;

}

.stats{

display:flex;

gap:20px;

}

.card{

background:white;

padding:25px;

border-radius:18px;

width:180px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h2{

color:#0057D9;

font-size:38px;

margin-bottom:10px;

}

.card p{

font-size:16px;

margin:0;

}

.right-side{

width:50%;

display:flex;

justify-content:center;

}

.right-side img{

width:100%;

max-width:700px;

border-radius:20px;

}